# --- GLOBAL ---
.DS_Store
*.log
.env*
**/node_modules/
dist/
.vscode/
**/__pycache__/

# --- NEXT.JS ---
**/web_client/.next/
**/web_client/out/
**/web_client/coverage/
**/web_client/.turbo/

# --- BACKEND DATA ---
**/backend/data/profiles/
