# --- GLOBAL ---
.DS_Store
*.log
.env*
**/node_modules/
dist/
.vscode/
**/__pycache__/
**/venv/

# --- NEXT.JS ---
**/web_client/.next/
**/web_client/out/
**/web_client/coverage/
**/web_client/.turbo/

# --- BACKEND DATA ---
**/backend/data/profiles/*
!**/backend/data/profiles/.gitkeep
**/backend/data/sequences/*
!**/backend/data/sequences/.gitkeep
